# Dependencies
node_modules
.pnp
.pnp.js

# Nuxt
.nuxt
.output

# Testing
coverage
.nyc_output

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Build
dist
build

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
